
 
.item{
   
   width: 100%;
   position: relative;
   margin:  auto;
   background-color: white;
   box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
   
   
   
 }
 .main_container{
 
    
      box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
     
 
 }
 .item img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
 

 }
 .item p{
   font-size: 1.2rem;
   font-family:Georgia, 'Times New Roman', Times, serif ;
 }
 .main_item{
   width: 680px;
   margin: auto;
 }

 
 
  @media (max-width: 767.98px) { 
   
   .main_item{
    
      width:85%;
      text-align: center;
       
 

    } .item img{
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin: auto;
      
  
   }
   .item{
      padding: 10px 0;
   }

   }